body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
#quiz-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#quiz-section h2 {
  text-align: center;
  color: #333;
}
.question {
  margin: 15px 0;
}
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
#quiz-result {
  text-align: center;
  color: #333;
}
